# DagshHub Configuration
DAGSHUB_USERNAME=your_username
DAGSHUB_TOKEN=your_token

# Alternatively 
# MLflow Tracking URI 
MLFLOW_TRACKING_URI=your_mlflow_tracking_uri
MLFLOW_TRACKING_USERNAME=your_mlflow_username
MLFLOW_TRACKING_PASSWORD=your_mlflow_password


