# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# MLflow
mlruns/
mlartifacts/

# DVC
/data/*.csv
/data/*.pdf

/models/*.pkl
.dvc/cache


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Docker
*.log

# Token
github_token.txt